<button class="btn btn-warning m-1" routerLink="/">Home</button>
<div class="card card-body">
<ul *ngFor="let category of categories">
  <li>{{ category.id }}</li>
  <li>{{ category.title }}</li>
</ul>

</div>