<div class="container">
<h1>Welcome</h1>
<p> This is Angular Project</p>
<button class="btn btn-secondary m-1" routerLink="/addition">Addition </button>
<button class="btn btn-dark m-1" routerLink="/categories">Categories </button>
<button class="btn btn-primary m-1" [routerLink]="[{outlets: { primary: ['logs'],secondary: ['logs'] }}]">Logs </button>
</div>