<div class="card card-body">
    <form>
        <button class="btn btn-warning m-1" routerLink="/">Home</button>
        <h3>Addition</h3>
        <input type="number" class="m-1" [(ngModel)]="number1" id="number1Fld" name="number1Fld" #number1Fld="ngModel" />

        <input type="number" class="m-1" [(ngModel)]="number2" id="number2Fld" name="number2Fld" #number2Fld="ngModel" />

        <label>Sum: {{ number1 + number2 }}</label>
    </form>
</div>